meta(charset="utf-8")
meta(name="viewport" content="width=device-width, maximum-scale=1.0")
title document
link(rel="shortcut icon", href="img/favicon.png", type="image/x-icon")
link(rel='stylesheet', href='css/main.min.css')
