doctype html
html(lang="ru")
  head
    include blocks/default/head.pug
  body
    include blocks/header.pug

    //- div.lazy.test(data-bg="img/bg_2.webp", data-bg-fallback="img/bg_2.jpg")

    include blocks/default/footer.pug
    include blocks/popups.pug
    include blocks/default/after_footer.pug
    include blocks/scripts_footer.pug
